<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.sample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.js.sample.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".materialDesign.activity.SystemNavigationActivity"
            android:label="@string/title_activity_system_navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 添加百度定位的KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OA7PC98u5rqm284qSCzvXn7WjQZahgvA"/> <!-- 添加 parentActivityName 属性可以有返回上一级按钮 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/main_page"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.GuideActivity" />
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceiver.SdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name=".servicetest.service.FirstService"
            android:label="@string/first_service"
            android:parentActivityName=".GuideActivity" />

        <activity
            android:name=".activity.LifeCycleActivity"
            android:label="@string/life_cycle"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.FragmentLifeCycleActivity"
            android:label="@string/fragment_life_cycle"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.DialogActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.LoggerActivity"
            android:label="@string/logger_framework"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.AsyncTaskActivity"
            android:label="@string/async_task"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.DrawerActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.BaiduLocationActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.ArcGisActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".greendaodemo.activity.GreenDaoActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".splash.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".popDropdown.PopDropdownActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".singleClick.activity.SingleClickTestActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".servicetest.activity.ServiceTestActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".servicetest.activity.IntentServiceActivity"
            android:parentActivityName=".servicetest.activity.ServiceTestActivity"
            android:label="IntentService服务"/>
        <activity
            android:name=".servicetest.activity.NormalServiceActivity"
            android:parentActivityName=".servicetest.activity.ServiceTestActivity"
            android:label="普通服务"/>
        <activity
            android:name=".servicetest.activity.BindingServiceActivity"
            android:parentActivityName=".servicetest.activity.ServiceTestActivity"
            android:label="绑定服务"/>
        <activity android:name=".servicetest.activity.FrontGroundServiceActivity"
            android:parentActivityName=".servicetest.activity.ServiceTestActivity"
            android:label="前台服务"/>
        <activity
            android:name=".dragableRecyclerview.activity.DraggableRecyclerviewActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".bottomMenu.activity.BottomMenuActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".activity.ConstraintLayoutActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".materialDesign.activity.MaterialDesignActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity
            android:name=".materialDesign.activity.BottomSheetSampleActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity" />
        <activity
            android:name=".materialDesign.activity.CollapsingToolbarLayoutActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".materialDesign.activity.CoordinatorLayoutScrollActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity"
            android:theme="@style/AppNoActionBarTheme" />
        <activity
            android:name=".materialDesign.activity.FloatActionButtonActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity" />
        <activity
            android:name=".materialDesign.activity.NavigationViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".materialDesign.activity.PaletteSampleActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity"/>
        <activity android:name=".materialDesign.activity.PaletteBasicSampleActivity"
            android:parentActivityName=".materialDesign.activity.PaletteSampleActivity"/>
        <activity android:name=".materialDesign.activity.PaletteAdvanceSampleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".materialDesign.activity.SnackBarSampleActivity"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity"/>
        <activity android:name=".materialDesign.activity.TabLayoutSampleActivity"
            android:label="TabLayout"/>
        <activity android:name=".materialDesign.activity.TabLayoutBasicSampleActivity"
            android:label="TabLayout"/>
        <activity android:name=".materialDesign.activity.TabLayoutAndViewPagerActivity"
            android:label="TabLayout"/>
        <activity android:name=".materialDesign.activity.TextInputLayoutSampleActivity"
            android:label="TextInputLayout"/>
        <activity android:name=".materialDesign.activity.ToolBarSampleActivity"
            android:label="ToolBarSample"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ViewAnimatorActivity"
            android:label="ViewAnimator"
            android:parentActivityName=".materialDesign.activity.MaterialDesignActivity"/>
        <activity android:name=".recyclerView.activity.UseRecyclerViewProblemsActivity"
            android:label="UseRecyclerViewProblems"
            android:parentActivityName=".activity.GuideActivity" />
        <activity android:name=".recyclerView.activity.ResolveCheckBoxProblemOneActivity"
            android:label="ResolveCheckBoxProblemOne"
            android:parentActivityName=".recyclerView.activity.UseRecyclerViewProblemsActivity"/>
        <activity android:name=".recyclerView.activity.ResolveCheckBoxProblemTwoActivity"
            android:label="ResolveCheckBoxProblemTwo"
            android:parentActivityName=".recyclerView.activity.UseRecyclerViewProblemsActivity" />
        <activity android:name=".recyclerView.activity.CheckBoxSingleCheckActivity"
            android:label="CheckBoxSingleCheck"
            android:parentActivityName=".recyclerView.activity.UseRecyclerViewProblemsActivity"/>
        <activity
            android:name=".activity.PermissionSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".commonviewpager.CommonViewPagerActivity"
            android:parentActivityName=".activity.GuideActivity" />
        <activity android:name=".activity.CheckStoragePathActivity"
            android:parentActivityName=".activity.GuideActivity"/>
        <activity android:name=".notifycation.NotificationTestActivity"
            android:label="通知使用"
            android:parentActivityName=".activity.GuideActivity"/>
        <activity android:name=".selfmadeViews.activity.SelfMadeViewsActivity"
            android:label="自定义控件"
            android:parentActivityName=".activity.GuideActivity"/>
        <activity android:name=".selfmadeViews.activity.SelfDrawingViewsActivity"
            android:label="自绘控件"
            android:parentActivityName=".selfmadeViews.activity.SelfMadeViewsActivity"/>
        <activity android:name=".selfmadeViews.activity.CombinationViewActivity"
            android:label="组合控件"
            android:parentActivityName=".selfmadeViews.activity.SelfMadeViewsActivity"/>
        <activity android:name=".selfmadeViews.activity.InheritedViewActivity"
            android:label="继承控件"
            android:parentActivityName=".selfmadeViews.activity.SelfMadeViewsActivity"/>
        <activity android:name=".eventBusDemo.EventBusTestActivity"
            android:label="EventBus的使用"
            android:parentActivityName=".activity.GuideActivity"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--    exported这个属性用于指示该服务是否能够被其他应用程序组件调用或跟它交互。如果设置为true，则能够被调用或交互，否则不能。    -->
        <service
            android:name=".servicetest.service.HelloIntentService"
            android:description="@string/intent_service_description"
            android:exported="false" />
        <service
            android:name=".servicetest.service.NormalService"
            android:description="@string/normal_service_description"
            android:exported="false" />
        <service
            android:name=".servicetest.service.BindingService"
            android:description="@string/binding_service_description"
            android:exported="false" />
        <service android:name=".servicetest.service.FrontGroundService"
            android:description="@string/front_ground_service_description"
            android:exported="false" />
    </application>

</manifest>