<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--添加 parentActivityName 属性可以有返回上一级按钮-->
        <activity
            android:name=".MainActivity"
            android:label="@string/main_page"
            android:parentActivityName=".GuideActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceiver.SdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FirstService"
            android:label="@string/first_service"
            android:parentActivityName=".GuideActivity"/>

        <activity
            android:name=".LifeCycleActivity"
            android:label="@string/life_cycle"
            android:parentActivityName=".GuideActivity"/>
        <activity
            android:name=".FragmentLifeCycleActivity"
            android:label="@string/fragment_life_cycle"
            android:parentActivityName=".GuideActivity"/>
        <activity android:name=".DialogActivity"
            android:parentActivityName=".GuideActivity"/>
        <activity android:name=".LoggerActivity"
            android:label="@string/logger_framework"
            android:parentActivityName=".GuideActivity"/>
        <activity android:name=".AsyncTaskActivity"
            android:label="@string/async_task"
            android:parentActivityName=".GuideActivity"/>
        <activity android:name=".DrawerActivity"
            android:parentActivityName=".GuideActivity"/>
    </application>

</manifest>